table {
  border: 1px dashed #263238;
  width: 50vw;
}

caption {
  color: #263238;
  font-weight: bold;
  font-size: 18px;
  margin: 3px;
}

thead {
  background-color: #455a64;
  color: white;
  font-weight: 700;
}

tbody > tr:nth-child(odd) {
  background-color: #eceff1;
}

tbody > tr:nth-child(even) {
  background-color: #b0bec5;
}

tfoot {
  font-weight: 800;
  background-color: #78909c;
}

td:nth-child(2) {
  color: #030;
  text-align: end;
}

td:nth-child(3) {
  color: #7f0000;
  text-align: end;
}