body {
  font-family: Arial, sans-serif;
}

.card-image {
border-radius: 30px 30px 0px 0px;
overflow: hidden;
}

.card {
  border: 1px solid #ddd;
  width: 300px;
  margin: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  margin-top: auto;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.list-group {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ddd;
}

.list-group-item {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.list-group-item:hover {
background-color: #f8f9fa;
}

.list-group-item:last-child {
  border-bottom: none;
}

.card-footer {
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  border-radius: 0px 0px 30px 30px;
  background-color: #f8f9fa;
  text-align: right;
}

.card-link {
  color: #007bff;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
}
